
 <div class="footer">
      <div class="footer-line"></div>
      <div class="under-footer">
         <span class="footer-text1">тел. +7 499 938-68-24 | адрес: Орджоникидзе ул., 11с10, Москва, 115419 </span>
        </div>

        <p class="footer-text1">Используемый стек технологий</p> 

        <span class="span-footer">
        <a href="https://getbootstrap.com/"><img id="boot" src="/pictures/bootstrap2.png" alt="bootstrap"></a>
        <a href="https://expressjs.com/ru/"><img id="boot" src="/pictures/express2.png" alt="expressjs"></a>
        <a href="https://handlebarsjs.com/"><img id="boot" src="/pictures/hercules-mustache-548935.png" alt="handlebars"></a>
        </span>
        
        

      </div>

    </div>

