
    <nav class=" container navbar navbar-expand-sm bg-light">
      <ul class="navbar-nav">
        <li class="nav-item">
          <h2 class="p-2"><a href="/">LOGO  </a></h2>
        </li>
        {{#if username}} {{! ключ username ищется в res.locals}}
        <li class="nav-item">
          <a class="nav-link" href="#">Привет, {{username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/promo">Акции</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="/auth/signout">Выйти</a>
        </li>
         <li class="nav-item">
          <span class="cart">
            <a class="nav-link cart-link" href="/cart">Корзина</a>
            <span class="cart-count">5</span>
          </span>
        </li> 
        {{else}}
        <li class="nav-item p-2 gx-5">
          <a class="nav-link" href="/auth/signin">Войти</a>
        </li>
        <li class="nav-item p-2 gx-5">
          <a class="nav-link" href="/auth/new">Зарегистрироваться</a>
        </li>
        {{/if}}
      </ul>
    </nav>

