  <ul class="navbar-nav">
        
    <nav class="head">
       <li class="nav-item">
          <a href="/"><img class="p-2" src="/logo/Pharmacy.png" alt="" width="70" height="70"></a>
          {{!-- <h2 class="p-2"><a href="/">LOGO  </a></h2> --}}
        </li>
        {{#if username}} {{! ключ username ищется в res.locals}}
        <li class="nav-item dt1">
          <a class="nav-link link-secondary" href="#">Привет, {{username}}</a>
        </li>
        <li class="nav-item dt">
          <a class="nav-link" href="/promo"><button type="button" class="btn btn-outline-secondary">Акции</button></a>
        </li> 
        <li class="nav-item dt">
          <a class="nav-link" href="/lk"><button type="button" class="btn btn-outline-secondary">Личный кабинет</button></a>
        </li>
        <li class="nav-item dt">
          <a class="nav-link" href="/auth/signout" id="signout"><button type="button" class="btn btn-outline-secondary">Выйти</button></a>
        </li>
        {{#if isAdmin}}
            <li class="nav-item dt">
                <a class="nav-link" href="/addProduct"><button type="button" class="btn btn-outline-secondary">Добавить товар</button></a>
            </li>
        {{/if}}
         <li class="nav-item dt">
          <span class="cart">
            <a class="nav-link cart-link" href="/cart"><button type="button" class="btn btn-outline-secondary">Корзина</button></a>
            <span class="cart-count">0</span>
          </span>
        </li> 
        {{else}}
        <li class="nav-item p-2 gx-5 dt">
          <a class="nav-link" href="/auth/signin"> <button type="button" class="btn btn-outline-secondary">Войти</button></a>
        </li>
        <li class="nav-item p-2 gx-5 dt">
          <a class="nav-link" href="/auth/new"><button type="button" class="btn btn-outline-secondary">Зарегистрироваться</button></a>
        </li>
        {{/if}}
    
      </ul>
    </nav>
 
