<script defer src="/js/clientCart.js"></script>

<h5>Корзина</h5>
<div id="cart-totals"></div>
{{!-- <p class="cartIs">Корзина пуста 🤷🏼</p> --}}
<div id="cart-items" class="order products"></div>
<button class="clearCart btn btn-outline-danger">Очистить корзину</button>
