<script defer src="/js/clientCart.js"></script>

<h5>Корзина</h5>

{{!-- <p class="cartIs">Корзина пуста 🤷🏼</p> --}}
<div id="cart-items" class="order products content cart-content"></div>
<div id="cart-totals"></div>
<div id="cart-btns-div"></div>
{{!-- <button class="clearCart btn btn-outline-danger">Очистить корзину</button> --}}
