<h4>Название товара</h4>
<div class="item-card">
  <img scr="https://images.apteka.ru/medium_63ef4ea1-2d90-4160-a758-963495d50f76.jpeg" alt="item img">
  <div class="item-descr">
    <p>Описание</p>
    <p>Цена</p>
    <button>Добавить в корзину</button>
  </div>
</div>
