<h4>{{product.title}}</h4>
<div class="item-card">
  <img src="{{product.img}}" alt="item img">
  <div class="item-descr">
    <p>{{product.description}}</p>
    <p>{{product.price}} руб.</p>
    <button>Добавить в корзину</button>
  </div>
</div>
