.footer {
  background-color: #f8f9fa;
  position: fixed;
  bottom: 0;
  left: 200px;
  right: 200px;
  height: 100px;
  z-index: 9;
  display: flex;
  flex-direction: column;
}
.footer-line {
  background-color: #196d87;
  height: 2px;
}
.footer-text {
  text-align: center;
  color: #999;
  font-size: 15px;
}
.footer-text1 {
  text-align: center;
  color: #999;
  font-size: 15px;
  margin-bottom: 0;
}
#boot {
  margin-left: 15px;
  height: 50px;
  width: 50px;
}
.span-footer {
  display: flex;
  justify-content: center;
}
.under-footer {
  display: flex;
  justify-content: center;
}
